@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    padding-top: 3rem;
    background: linear-gradient(45deg, rgb(0, 255, 255), rgb(0, 255, 170));
    min-height: 100vh;
}

.container {
    max-width: 1440px;
    margin: auto;
}
